<div class="tplWrap">
<div class="title">
<span>工&emsp;&emsp;单</span> 
<svg class="icon" aria-hidden="true">
<use xlink:href="#icon-you"></use>
</svg>
<i>待分配</i>
</div>
<div style="width:100%;height:1px;background:#6db738;margin-top:.267rem;"></div>
<div class="min-table" style="margin-top:.667rem;">
<table>
<tr>
<th>选&emsp;&emsp;择</th>
<th>时&emsp;&emsp;间</th>
<th>任务名称</th>
<th>任务类型</th>
<th>任务内容</th>
<th>负&ensp;责&ensp;人</th>
<th>操&emsp;&emsp;作</th>
</tr>
    <!--//循环处-->    
<tr>
<td><input class="checkbox" id="check" type="checkbox"><label for="check"></label></td>
<td>2017.07.08</td>
<td class="elli" title="">成都总院光华德阳玉</td>
<td>文案  设计  程序</td>
<td class="elli" title="">成都总院光华德阳玉双</td>
<td>某某某</td>
<td class="handle threeBn"><span class="tipbtn" style="margin-right:.28rem;">提&emsp;醒</span><span class="tipbtn" style="margin-right:.28rem;">分&emsp;配</span><span class="td_cha">╳</span></td>
</tr>
    <!--//结束循环-->    
</table>
</div>
<div class="tab_foot clearfix"><input class="checkbox" id="all_check" type="checkbox"><label class="left" for="all_check"></label><span>全选</span><span>删除</span><span><svg class="icon right" aria-hidden="true"><use xlink:href="#icon-jia"></use></svg></span></div>
</div>