<div class="tplWrap">
<div class="title">
<span>工&emsp;&emsp;单</span> 
<svg class="icon" aria-hidden="true">
<use xlink:href="#icon-you"></use>
</svg>
<i>进行中</i>
</div>
<div style="width:100%;height:1px;background:#6db738;margin-top:.267rem;"></div>
<div class="min-table"  style="margin-top:.667rem;">
<table>
<tr>
<th>时&emsp;&emsp;间</th>
<th>任务名称</th>
<th>任务类型</th>
<th>任务内容</th>
<th>负&ensp;责&ensp;人</th>
<th>参&ensp;与&ensp;人</th>
<th>工&emsp;&emsp;期</th>
<th>进&emsp;&emsp;度</th>
<th>操&emsp;&emsp;作</th>
</tr>
    <!--//循环处-->    
<tr>
<td>2017.07.08</td>
<td class="elli" title="">成都总院光华德阳玉</td>
<td>文案  设计  程序</td>
<td class="elli" title="">成都总院光华德阳玉双</td>
<td>某某某</td>
<td>
<select name="selectName" id="selectName"> 

<option>丽萍</option>   
<option>小凤</option>   
<option>雅兰</option>   
<option>舒克</option>   
<option>小何</option> 

</select>
</td>
<td>2天</td>
<td>50%</td>
<td class="handle"><span class="tipbtn" style="margin-right:.2rem;">提&emsp;醒</span><span class="tipbtn">审&emsp;核</span></td>
</tr>
    <!--//结束循环-->    
</table>
</div>
</div>