<link rel="stylesheet" href="__PUBLIC__/remind/lib/style.css" />
<div class="tplWrap">
<div class="title">
<span>日&emsp;&emsp;志</span> 
<svg class="icon" aria-hidden="true">
<use xlink:href="#icon-you"></use>
</svg>
<i>我的日志</i>
</div>
<div style="width:100%;height:1px;background:#6db738;margin-top:.267rem;"></div>
<div class="min-table" style="margin-top:.667rem;">
<div class="t_head clearfix">                              
<div class="datePick left">
<input type="text" id="ECalendar_case1" placeholder="选择开始时间" readonly />
</div>
<div class="to left">&ensp;to&ensp;</div>
<div class="datePick left">
<input type="text" id="ECalendar_case2" placeholder="选择结束时间" readonly />
</div>
<div class="left search">搜索</div>
</div>
<div class="list_contain clearfix">
<!--    //list_one 循环处-->
    <div class="list_one">
    <div class="one_time clearfix">
    <p class="left">创建时间：2017.07.08</p>
    <p class="right">周丽萍</p>
    </div>
    <div class="one_txt">
    <div class="noon t_box clearfix">
    <p class="left">上&emsp;&emsp;午：</p>
    <ul class="right">
    <li>1、项目名称-类型-工作内容工作内容</li>
    <li>2、项目名称-类型-工作内容工作内容</li>
    </ul>
    </div>
    <div class="afternoon t_box clearfix">
    <p class="left">下&emsp;&emsp;午：</p>
    <ul class="right">
    <li>1、项目名称-类型-工作内容工作内容</li>
    <li>2、项目名称-类型-工作内容工作内容</li>
    </ul>
    </div>
    <div class="tomorrow t_box clearfix">
    <p class="left">明天安排：</p>
    <ul class="right">
    <li>1、项目名称-类型-工作内容工作内容工作内容</li>
    <li>2、其他其他其他其他其他其他其他其他其他其他</li>
    </ul>
    </div>
    </div>
    <div class="one_foot clearfix">
    <div class="right one_right clearfix">
    <p class="change"><svg class="icon" aria-hidden="true">
    <use xlink:href="#icon-xiugai"></use>
    </svg>&ensp;修改</p>
    <p class="delete"><svg class="icon" aria-hidden="true">
    <use xlink:href="#icon-shanchu"></use>
    </svg>&ensp;删除</p>
    <p class="more">展开&ensp;<svg class="icon" aria-hidden="true">
    <use xlink:href="#icon-jiantouyoushuang-"></use>
    </svg></p>
    </div>
    </div>
    </div>
    <!--//list_one循环结束-->
</div>
</div>

<div class="tab_foot clearfix"><input class="checkbox" id="all_check" type="checkbox"><label class="left" for="all_check"></label><span>全选</span><span>删除</span><span><svg class="icon right" aria-hidden="true"><use xlink:href="#icon-jia"></use></svg></span></div>
</div>
<script type="text/javascript" src="__PUBLIC__/remind/lib/Ecalendar.jquery.min.js"></script>
<script>
    $("#ECalendar_case1").ECalendar({
        type:"date",
        stamp:false,
        skin:"#6db738",
        offset:[0,5]
    });
    $("#ECalendar_case2").ECalendar({
        type:"date",
        stamp:false,
        skin:'#6db738',
        offset:[0,2]
    });
</script>