<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>wenjian</title>
        <script src="http://g.alicdn.com/dingding/dinglogin/0.0.2/ddLogin.js"></script>
        <link rel="stylesheet"href="__PUBLIC__/remind/css/bootstrap.min.css">
        <link rel="stylesheet"href="__PUBLIC__/remind/css/css.css">
        <script type="text/javascript" src="__PUBLIC__/remind/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/remind/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/remind/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/remind/js/js.js"></script>
    </head>
    <body>
        <div class="gztx_0417_login">
            <form action="{:U('excel/phpexcel1')}" method="post" enctype="multipart/form-data">
               	<input title="选择文件上传"  name="up" type="file">
                <input type='submit' value='提交' />
            </form>
            <div>
<!--                <script>
                    var from = location.href;
                </script>-->
</body>
</html>