 <link rel="stylesheet" href="__PUBLIC__/remind/style/rightPart/ifra_index.css" />
<div class="tplWrap">
<div class="title">
<span>日&emsp;&emsp;程</span> 
<svg class="icon" aria-hidden="true"><use xlink:href="#icon-you"></use></svg>
<i>个人进度</i>
</div>
<div style="width:100%;height:1px;background:#6db738;margin-top:.267rem;"></div>
<div class="btns">
<span class="active">按日查看</span><span>按月查看</span> 
</div>
<div class="min-table">
<table>
<tr>
<th>姓&emsp;&emsp;名</th><th>任务名称</th><th>开始时间</th><th>紧急程度</th><th>进&emsp;&emsp;度</th><th>操&emsp;&emsp;作</th>
</tr>

<tr>
<td>小凤</td>
<td  class="elli" title="">成都总院光华德阳玉双PC移动站修改</td>
<td>2017-07-13 10:26:19</td>
<td class="level urgent"><span>紧&emsp;急</span></td>
<td>50%</td>
<td class="handle"><span class="tipbtn">提&emsp;醒</span></td>
</tr>

</table>
</div>
</div>
<script></script>
